* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Inter;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    user-select: none;
    max-width: 550px;
    min-height: 1080px;
    max-height: 1355px;
    background: #121212;
    overflow: hidden;
    
}

.hero {
    width: 550px;
    height: 208px;
    background: url(./images/hero.jpg),lightgray 0px -158.291px / 100% 423.007% no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.hero h1 {
    letter-spacing: -1.93px;
    line-height: 24px;
    font-weight: 800;
    font-size: 43px;
    color: #fff;
    font-style: normal;
}

.hero a {
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
    font-style: normal;
}

.box {
    width: 420px;
    height: 40px;
    display: flex;
    cursor: pointer;
    padding: 10px 0;
    padding-left: 20px;
    background: #2E2E2F;
    border-radius: 40px;
    justify-content: space-between;
    align-items: center;
    margin: -15px auto;
}

.box:hover input {
    width: 420px;
}

.box input {
    width: 420px;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    transition: .08s;
    background: transparent;
    color: #fff;
}

.box a {
    text-decoration: none;
}

.box a .fas {
    color: #9ca3af;
    background-color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

i {
    display: block;
}

/*****Cards*****/

#listContainer {
    padding: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center {
    display: block;
    margin: 0 auto;
}

.center .exploring {
    display: block;
    margin: 0 auto;
    margin-top: 125px;
}

.exploring-text {
    margin: 9px auto;
    color: #2E2E2F;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}

.card {
    display: flex;
    gap: 21px;
    border-bottom: 2px solid #2c2c2c;
    padding: 21px 0;
}

.card-thumbnail {
    width: 100px;
    height: 150px;
    border-radius: 2px;
}

.card-details {
    display: flex;
    flex-direction: column;
}

.card-details-first-row {
    display: flex;
    align-items: baseline;
}

.card-title {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin: 20px 6px 11px;
}

.stars {
    height: 20px;
    width: 20px;
    margin: 0 8px;
}

.rating {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 6px;
}

.card-details-second-row {
    display: flex;
    align-items: center;
}

.card-details-second-row p {
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 0;
}

.movie-runtime {
    margin-left: 6px;
    margin-right: 18px;
}

.movie-genre {
    margin-right: 20px;
}

.fa-solid.btns {
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
}

.card-details-third-row {
    margin: 0;
}

.movie-synopsis {
    color: #A5A5A5;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 8px;
    margin-left: 6px;
}

/*Alert and warning popups*/

.alert {
    background-color: #ffdb9b;
    padding: 20px 40px;
    min-width: 420px;
    position: absolute;
    right: 770px;
    top: 130px;
    border-radius: 4px;
    border-left: 8px solid #ffa502;
    overflow: hidden;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
}

.alert.showAlert {
    opacity: 1;
    pointer-events: auto;
}

.alert.show {
    animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-10%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10%);
    }
}

.alert.hide{
    display: none;
}

.alert.hide{
    animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide {
    0% {
        transform: translateX(-10%);
    }
    40% {
        transform: translateX(0%);
    }
    80% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(100%);
    }
}

.alert .fa-exclamation-circle {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ce8500;
    font-size: 20px;
}

.alert .msg {
    padding: 0 10px;
    font-size: 16px;
    color: #ce8500;
}

.alert .close-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffd080;
    padding: 20px 13px;
    cursor: pointer;
}

.close-btn:hover {
    background-color: #ffc766;
}

.close-btn .fa-times {
    color: #ce8500;
    font-size: 18px;
    line-height: 40px;
}

@media  (max-width: 1050px) {

   .container {
        position:relative;   
   } 
    
  .alert {
    top:130px;
    left: 55px;
  }
}
