.add {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-btn {
    color: #fff;
    width: 25px;
    height: 25px;
    margin-right: 7px;
}

.add-text {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.white {
    color:white;
    margin-right: 10px;
    cursor: pointer;
}

